<a href="/getClub/{{id}}">
  <h2 class="bg-gradient-to-r from-[#c3b299] to-[#523249]">{{name}}</h2>

  <div class="text-[#dbebc0]">
  <p><span class="font-bold">Description:</span>
    <br> 
    {{description}}
    </p>

  <p><span class="font-bold">Type:</span>
    <br> 
    {{type}}
    </p>

  <p><span class="font-bold">Currently Reading:</span>
    <br>
     <span class="italic">{{book.name}}</span>
     </p>
  </div>   
</a>