<!-- memberView.handlebars -->
<div>
  <h2 class="bg-gradient-to-r from-[#c3b299] to-[#523249] underline">Member Dashboard -- <span class="italic text-s"> Welcome Back!</span></h2>
  <!-- Section to see the current book -->
  <section class="text-[#dbebc0]">
    <h3 class="bold underline text-[#dbebc0] ">Current Book&#128214</h3>
      <p><span class="underline font-bold">Title:</span><br> {{club.book.name}}</p>
      <p><span class="underline font-bold">Author:</span><br> {{club.author}}</p>
      <p><span class="underline font-bold">Description:</span><br> {{club.book.description}}</p>  
  </section>

  <!-- Section to see the discussion history -->
  <section class="text-[#dbebc0]">
    <h3 class="text-center  pb-8">&#128204 Discussion History &#128204 </h3>
      {{#each club.discussions as |discussion|}}
        <p>{{discussion.text}} </p>
        <p>  - {{discussion.user.name}} posted on {{date discussion.created_on "MM/DD/YYYY"}}</p>
      {{/each}}
  </section>

  <!-- Form to add a message to the discussion -->
  <section>
    <h3 class="text-[#dbebc0]">Add to Discussion</h3>
    <form action="/add-message" method="POST">
      <input type="hidden" name="bookId" value="{{currentBook.id}}" />
      <textarea class="border-solid border-4 border-[#c3b299]" cols="70" rows="8" name="message" required placeholder="Your message"></textarea>
      <button type="submit" class="animate-pulse bg-blue-500 mx-8 px-6 text-white rounded-md">Post Message</button>
    </form>
  </section>

  <!-- Option to leave the club -->
  <section>
    <form action="/leave-club" method="POST">
      <input type="hidden" name="clubId" value="{{clubId}}" />
      <button type="submit" class="bg-red-500 text-white my-12 px-8">Leave Club</button>
    </form>
  </section>
</div>