<!-- memberView.handlebars -->
<div>
  <h2>Member Dashboard</h2>

  <!-- Section to see the current book -->
  <section>
    <h3>Current Book</h3>
   {{#each bookList}}
        {{#if (eq id ../club.current_book_id)}}
          <p>Title: {{name}}</p>
          <p>Author: TODO</p>
          <p>Description: {{description}}</p>  
          {{/if}}
      {{/each}}</p>
  </section>

  <!-- Section to see the discussion history -->
  <section>
    <h3>Discussion History</h3>
    
    <ul>
      {{#each discussions as |discussion|}}
        
          {{#if (eq ../club.id discussion.club_id)}}
            {{#each ../users}}
              {{#if (eq id discussion.user_id)}}
              <li>
              <strong>{{name}}</strong> ({{discussion.created_on}}) {{discussion.text}}
              </li>
              {{/if}}
            {{/each}}
        {{/if}}
 
      {{/each}}
    </ul>
  </section>

  <!-- Form to add a message to the discussion -->
  <section>
    <h3>Add to Discussion</h3>
    <form action="/add-message" method="POST">
      <input type="hidden" name="bookId" value="{{currentBook.id}}" />
      <textarea name="message" required placeholder="Your message"></textarea>
      <button type="submit">Post Message</button>
    </form>
  </section>

  <!-- Option to leave the club -->
  <section>
    <h3>Leave Club</h3>
    <form action="/leave-club" method="POST">
      <input type="hidden" name="clubId" value="{{clubId}}" />
      <button type="submit">Leave Club</button>
    </form>
  </section>
</div>