{{!-- Check if the user is not a member --}}
<div class="text-[#dbebc0]">
  <div class="book-description">
    <h2 class="bg-gradient-to-r from-[#c3b299] to-[#523249]">Club Description</h2>
    <p>{{club.description}}</p>
  </div>

 <div class="club-type">
    <h2 class="bg-gradient-to-r from-[#c3b299] to-[#523249]">Club Type</h2>
    <p class="text-xl font-bold">{{club.type}}</p>
  </div>

  <div class="current-book">
    <h2 class="bg-gradient-to-r from-[#c3b299] to-[#523249]">Current Book</h2>
      <p><span class="font-bold underline">Title:</span><br> 
        {{club.book.name}}
      </p>
      <p><span class="font-bold underline">Author:</span><br> 
        {{club.author}}
      </p>
      <p><span class="font-bold underline">Description:</span><br> 
        {{club.book.description}}
      </p>  
  </section>
  </div>

 

  <div class="join-request">
    {{#if loggedIn}}
    <a href="" class="bg-green-500 px-8 rounded-md hover:animate-pulse" id="join" data-club-id="{{club.id}}">Request to Join the Discussion!</a>
    {{else}}
    <p>You must be logged in to join</p><a href="/login" class="bg-green-500 px-8 rounded-md hover:animate-pulse">Login</a>
    {{/if}}
  </div>
</div>


<script src="/js/join.js"></script>